body {
  background-color: rgb(225, 255, 255);
}

/* TOP INFO */

#topInfo {
  border-bottom: 1px solid rgb(73, 73, 73);
}

#titleBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px;
}

h1 {
  font-weight: bold;
  color: rgb(73, 73, 73);
}

#infoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 25px;
  color: rgb(73, 73, 73);
}

#infoBox p {
  margin: 5px;
}

#infoBox a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

#infoBox a:hover {
  color: rgb(111, 172, 172);
}

/* TITLE BITS */

.titleBit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 30px auto;
}

.titleBit h1 {
  font-size: 1.7em;
}

/* LOGO SECTIONS */

.iconSection {
  margin-top: 20px;
}

.divIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divIcon h2 {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  color: rgb(73, 73, 73);
}

.divIcon h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  margin-top: 3px;
  border-top: 1px solid rgb(73, 73, 73);
  border-right: 1px solid rgb(73, 73, 73);
}

.h2Right h2::after {
  border-right: none;
  border-left: 1px solid rgb(73, 73, 73);
}

/* ICON ONE */

#iconOne {
  color: rgb(73, 73, 73);
  font-weight: bold; 
}

#iconOne .loading {
  animation: iconOneLoading 2.5s ease-in-out infinite;
}

#iconOne .loadingDotOne {
  animation: iconOneDots 2s ease-in 0.2s infinite;
}

#iconOne .loadingDotTwo {
  animation: iconOneDots 2s ease-in 0.8s infinite;
}

#iconOne .loadingDotThree {
  animation: iconOneDots 2s ease-in 1.3s infinite; 
}

@keyframes  iconOneDots {
  30% {
    /* BACKGROUND COLOR */
    color: rgb(225, 255, 255);
  }
  50% {
    /* WANTED FONT COLOR*/
    color: rgb(127, 146, 146);
  }
}

@keyframes iconOneLoading {
  10% {
    /* LIGHTER VERSION OF YOUR FONT COLOR */
    color: rgb(136, 136, 136);
  }
  60% {
    /* YOUR FONT COLOR */
    color: rgb(73, 73, 73);
  }
}

/* ICON TWO */

#iconTwo p {
  animation: iconTwoLoading 2s ease-in-out infinite;
}

@keyframes iconTwoLoading {
  50% {
    /* FONT STYLE YOU WANT TO CHANGE TO */
    font-weight: bold;
    font-variant: small-caps;
  }
  100% {
    /* STARTING FONT STYLE */
    font-weight: normal;
    font-variant: normal;
  }
}

/* ICON THREE */

#iconThree p span:nth-child(1) {
  animation: iconThreeLoading 2s ease-in infinite;
}

#iconThree p span:nth-child(2) {
  animation: iconThreeLoading 2s ease-in 0.2s infinite;
}

#iconThree p span:nth-child(3) {
  animation: iconThreeLoading 2s ease-in 0.4s infinite;
}

#iconThree p span:nth-child(4) {
  animation: iconThreeLoading 2s ease-in 0.6s infinite;
}

#iconThree p span:nth-child(5) {
  animation: iconThreeLoading 2s ease-in 0.8s infinite;
}

#iconThree p span:nth-child(6) {
  animation: iconThreeLoading 2s ease-in 1.0s infinite;
}

#iconThree p span:nth-child(7){
  animation: iconThreeLoading 2s ease-in 1.2s infinite;
}

#iconThree p span:last-child {
  animation: iconThreeLoading 2s ease-in 1.4s infinite;
}

@keyframes iconThreeLoading {
  50% {
    /* FONT STYLE YOU WANT TO CHANGE TO */
    font-weight: bold;
    font-variant: small-caps;
  }
  100% {
    /* STARTING FONT STYLE */
    font-weight: bold;
    font-variant: normal;
  }
}

/* ICON FOUR */

#iconFour::before {
  content: '';
  display: block;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(73, 73, 73);
  animation: iconFourTop 2s ease-out infinite;
}

#iconFour::after {
  content: '';
  display: block;
  width: 0;
  margin: -12px auto auto auto;
  border-top: 1px solid rgb(73, 73, 73);
  animation: iconFourBottom 2s ease-in infinite;
}

@keyframes iconFourTop {
  50% {
    width: 0;
  } 100% {
    width: 100%;
  }
}

@keyframes iconFourBottom {
  50% {
    width: 100%;
  } 100% {
    width: 0;
  }
}

/* ICON FIVE */

#iconFive p {
  border: 1px solid rgb(73, 73, 73);
  animation: iconFive 3s infinite;
  padding: 2px 5px 5px 5px;
}

@keyframes iconFive {
  10% {
    /* YOUR BACKGROUND COLOR */
    border-right: 1px solid rgb(225, 255, 255);
  } 30% {
    /* YOUR BACKGROUND COLOR */
    border-bottom: 1px solid rgb(225, 255, 255);
  } 65% {
    /* YOUR BACKGROUND COLOR */
    border-left: 1px solid rgb(225, 255, 255);
  } 90% {
    /* YOUR BACKGROUND COLOR */
    border-top: 1px solid rgb(225, 255, 255);
  } 100% {
    /* ORIGINAL BORDER  */
    border-right: 1px solid rgb(73, 73, 73);
  }
}

/* VISUAL ONE */

#visualOne {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.visualOne {
  height: 30px;
  width: 6px;
  /* YOUR PREFERED BORDER COLOR */
  border: 1px solid rgb(73, 73, 73);
  margin: 0 1px;
  /* BACKGROUND COLOR FOR THE BARS */
  background-color: white;
}

.visualOne:first-child {
  animation: bouncingBars 3s ease-in-out infinite;
}

.visualOne:nth-child(2) {
  animation: bouncingBars 3s ease-in-out 0.3s infinite;
}

.visualOne:nth-child(3) {
  animation: bouncingBars 3s ease-in-out 0.6s infinite;
}

.visualOne:nth-child(4) {
  animation: bouncingBars 3s ease-in-out 0.9s infinite;
}

.visualOne:last-child {
  animation: bouncingBars 3s ease-in-out 1.2s infinite;
}

@keyframes bouncingBars {
  25% {
    height: 15px;
  } 50% {
    height: 30px;
  }
}

/* VISUAL TWO */

#visualTwo {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.visualTwo {
  height: 30px;
  width: 5px;
  /* YOUR PREFERED BORDER COLOR */
  border: 1px solid rgb(73, 73, 73);
  /* BACKGROUND COLOR FOR THE BARS */
  background-color: white;
  margin: 0 1px;
}

.visualTwo:first-child {
  animation: stretchingBars 2s ease-in-out infinite;
}

.visualTwo:nth-child(2) {
  animation: stretchingBars 2s ease-in-out 0.4s infinite;
}

.visualTwo:nth-child(3) {
  animation: stretchingBars 2s ease-in-out 0.8s infinite;
}

.visualTwo:nth-child(4) {
  animation: stretchingBars 2s ease-in-out 1.2s infinite;
}

.visualTwo:last-child {
  animation: stretchingBars 2s ease-in-out 1.6s infinite;
}

@keyframes stretchingBars {
  20% {
    width: 9px;
  } 45% {
    width: 5px;
  }
}

/* VISUAL THREE */

#visualThree {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.visualThree {
  height: 30px;
  width: 5px;
  /* YOUR PREFERED BORDER COLOR */
  border: 1px solid rgb(73, 73, 73);
  /* BACKGROUND COLOR FOR THE BARS */
  background-color: white;
  margin: 0 1px;
}

.visualThree:first-child {
  animation: bounceAndStretch 3s ease-in-out infinite;
}

.visualThree:nth-child(2) {
  animation: bounceAndStretch 3s ease-in-out 0.3s infinite;
}

.visualThree:nth-child(3) {
  animation: bounceAndStretch 3s ease-in-out 0.6s infinite;
}

.visualThree:nth-child(4) {
  animation: bounceAndStretch 3s ease-in-out 0.9s infinite;
}

.visualThree:last-child {
  animation: bounceAndStretch 3s ease-in-out 1.2s infinite;
}
@keyframes bounceAndStretch {
  20% {
    height: 15px;
    width: 12px;
  } 45% {
    width: 5px;
    height: 30px;
  }
}